APP_NAME="EBook Store"
APP_ENV=development
BASE_URL="http://localhost/EBookStore/"

# --- Database ---
DB_HOST=localhost
DB_NAME=EBookStore
DB_USER=root
DB_PASS=
DB_DRIVER=mysqli

# --- Security ---
# Generate key acak 32 karakter
ENCRYPTION_KEY=