RewriteEngine On
RewriteBase /EBookStore/

# Jika file atau folder fisik benar-benar ada (seperti gambar, css, js), akses langsung
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Jika tidak ada, sembunyikan index.php dan lemparkan parameternya
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]