<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./Bootstrap.php"
    colors="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    beStrictAboutTestsThatDoNotTestAnything="true">
    
    <testsuites>
        <testsuite name="EBookStore Application Test Suite">
            <directory suffix="_test.php">./controllers</directory>
            <directory suffix="_test.php">./models</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../application/models</directory>
            <directory suffix=".php">../application/controllers</directory>
        </whitelist>
    </filter>
</phpunit>